<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>name : <%= person.name%> </div>
    <div>address : <%= person.adress%> </div>
    <div>age : <%= person.age%> </div>
    <div>email : <%= person.email%> </div>
</body>
</html>