<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/sass/style.css">
    <title>Document</title>
</head>

<body>
    <div class="app-root">
        <div class="employee-form-div">
            <div>
                <h1>Employee Form</h1>
            </div>
            <div>
                <form id="submit" action="/" method="POST">
                    <div class="input-label-row flex-row-center">
                        <label for='name' class='label'>name :</label>
                        <input placeholder="Enter your name ..." name='name' class="input">
                    </div>
                    <div class="input-label-row flex-row-center">
                        <label for='address' class='label'>adress :</label>
                        <input placeholder="Enter your adress ..." name='address' class="input">
                    </div>
                    <div class="input-label-row flex-row-center">
                        <label for='age' class='label'>age :</label>
                        <input placeholder="Enter your age ..." name='age' class="input">
                    </div>
                    <div class="input-label-row flex-row-center">
                        <label for='email' class='label'>email :</label>
                        <input placeholder="Enter your email ..." name='email' class="input">
                    </div>
                    <div>
                        <button class="flex-row-center" type="submit" id='addBtn'>ADD</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
    <script src="./scripts/frontend.js"></script>
</body>

</html>